.App {
  text-align: center;
  
}

body{
  background-image: linear-gradient(to bottom, rgb(224, 220, 220) , white);
  background-repeat: repeat-x;
  text-align: center;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

#header {

  font-size: 40px;
 
}